/**
 * Trino theme for reveal.js. 
 *
 * By Brian Olsen, http://bitondata.dev
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000033;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Roboto Slab', serif;
$headingFont: 'Roboto', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #dd00a1;
$linkColorHover: #f88600;
$selectionBackgroundColor: lighten( $linkColorHover, 15% );

$heading1Size: 2.2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
